.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.header {
  width: 100%;
  background-color: #1a2330;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;

  .logo {
    height: 8vmin;
    object-fit: scale-down;
  }

  .menu {
    display: flex;
    justify-content: center;

    a {
      margin: 0 1rem;
      color: white;
    }
  }
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5vmin;
  max-width: 90vmin;
  span {
    text-align: center;
    margin-bottom: 1rem;
  }
}

.footer {
  text-align: center;
  padding: 2rem;
  width: 100%;
  color: white;
  background-color: black;
}
